[submodule "C:/My_Documents/Repos/DnD_CharSheet/Assets/Plugins/CommonMaxTools"]
	path = C:/My_Documents/Repos/DnD_CharSheet/Assets/Plugins/CommonMaxTools
	url = https://github.com/Markmax2304/CommonMaxTools.git
